body {
     
    width: 100vw;
}

header {
            background-color:
                #600275;
            color: #ffffff;
            text-align: center;
        margin: 0 auto;
        padding: 16px;
        }

        main {
            background-color:#ffffff;
        color: #600275;
        margin: 0 auto;
        padding: 16px;

            display: flex;
            flex-wrap: wrap;
        }
        article {
            display: flex;

        border: 1px solid #600275;

        margin: 16px;
        gap: 16px;
        padding: 16px;

        flex: 1 1 35%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        img {
            width: 80px;
            height: 80px;
        }

        .artigo-autor {
            font-weight: bold;
        }